<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Last News</title>


</head>
<body>


<h2>Hyper news</h2>

{% for news in info %}
<h4> {{news.date}}</h4>
<ul>
    {% for a in news.values %}
    <li><a href="/news/{{ a.link }}/"> {{ a.title }}</a></li>
    {% endfor%}

</ul>
{% endfor %}


<form method="get" action="/news/" style="margin: 0">
    {% csrf_token %}
    <input type="search" name="q" placeholder="Search...">
    <button type="submit">Submit</button>
</form>

<a href="/news/create/" target="_blank">News_create</a>
</body>
</html>